<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购票</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userBuy.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userBuy.js"></script>

</head>
<body>
<div class="nav-top-container">

    <div style="display: flex;justify-content: space-between;padding: 10px 0">
        <div class="nav-logo title">NJU-Cinema</div>

        <div class="btn-group" style="margin: auto 0">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle">我的<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy" style="color: #1caf9a">电影票</a></li>
                <li><a href="/user/member" style="color: #1caf9a">卡包</a></li>
                <li id="logout"><a href="#" style="color: #1caf9a">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="btn-group"><a href="/user/movie">返回首页</a></div>
</div>
<div class="content-container">
    <div>
        <div>
            <h1 style="color: #1caf9a">我的电影票</h1>
        </div>
        <div id="ticketTable" style="display: flex;justify-content: space-between;flex-wrap: wrap">

        </div>
    </div>
</div>
</body>
</html>